    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    input {
        border-radius: 25px;
        font-size: 3em;
        color: black;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    
    
    #checkbox{
        display: inline-block;
        text-align:left;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        color: black;
    }
    
    h3{
        color: black;
        
        background-color: white;
        padding :10px;
        border-radius: 15px;
    }
    