     body
        {
            background-color:black;
            color:gray;
        }
        header, main, nav, footer{
            text-align: center;
        }
        nav a
        {/* linkes within "nav" container */
            padding: 15px;
            padding-bottom:4px;
            font-size:1.8em;
            text-decoration: none; /* removes underline */
            color:grey;
        }
        
        nav a:hover
        {
            border-bottom:2px orange solid;
            font-size: 2em;
            transition: .9s;
        }
        
        #myPhoto {
            border-radius: 60px;
        }
        
        #logo, #me, #welcomeText {
            
            float:left;
        }
        #welcomeText {
            text-align: left;
        }
        footer {
            font-size: small;
            clear:left;
        }
      #selected {
          color:orange;
      }
      table {
          margin: 0px auto;
      }
      td {
          padding-right:10px;
          font-size: 1.3em;
      }
      td strong {
          color: orange;
      }
      #table-header {
          background-color: #351a00;
      }
      .table-row {
          background-color: #753900;
          color:white;
      }
      ul {
          text-align: left;
          padding-left: 200px;
      }
      .hobby {
          color: yellow;
      }
      #content {
          text-align:center;
      }
      h1 {
          font-family: 'Pacifico', cursive;
          font-size: 4em;
          margin-bottom: 0px;
      }
      h2 {
          font-family: 'Pacifico', cursive;
          font-size: 2em;
          margin-bottom: 0px;
      }